h1{
    text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: lightsalmon;   
}
h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    block-size: 2px;
}

.hourlyWeather{
    margin-bottom: 5px;
    height: 300px;
    width: 800px;
    border: 5px ridge orangered;
    padding: 0px;

    
}
.hour{
    --hour-width: calc((800px - 10px)/5);
    margin:auto;
    height: 100%;
    width: var(--hour-width);
    border: 1px solid black;
    float: left;
    background-color: orange;
}
.hourName{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}
.hourDesc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}
.hourIcon{
    width: 64px;
    height: 64px;
    margin-left: calc(var(--hour-width)/2 - 32px);
}
.hourHigh{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}
.hourFeels{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}

.dailyWeather{
    margin-bottom: 2px;
    height: 300px;
    width: 800px;
    border: 5px ridge orangered;
    padding: 0px;
}
.day{
    --day-width: calc((800px - 10px) / 3);
    margin:auto;
    height: 100%;
    width: var(--day-width);
    border: 1px solid black;
    float: left;
    background-color: orange;
}
.dayName{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}
.dayDesc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}
.dayIcon{
    width: 64px;
    height: 64px;
    margin-left: calc(var(--day-width)/2 - 32px);
}
.dayHigh{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}
.dayLow{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}

.footer{
    p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    a{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}