h1{
    text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: lightsalmon;   
}
h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    block-size: 2px;
}

.hourlyWeather{
    margin: left;
    height: 300px;
    width: 800px;
    border: 5px ridge;
    padding: 0px;

    
}
.hour{
    margin:auto;
    height: 100%;
    width: calc((800px - 10px)/5);
    border: 1px solid black;
    float: left;
    background-color: orange;
}
.hourName{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hourDesc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hourIcon{
    
}
.hourHigh{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hourLow{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer{
    p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    a{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}